.btn-brand{
  background-image: linear-gradient(75deg,#19D3AE,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.text-brand{
  color: #61dafb;
}
.text-red{
  color: red;
}
.react-calendar {
  float: right;
  margin-right: 91px;
}